<nav class="b-b">
	<div class="container">
		<div class="row">
			<div class="col-md-12 tool-bar no-padder">
				<a href="http://www.codefornigeria.org"><img src="assets/img/logo.png" class="logo"></a>
				<a href="https://twitter.com/codefornigeria" target="_blank"><li class="fa fa-twitter"></li></a>
				<a href="https://web.facebook.com/codefornigeria" target="_blank"><li class="fa fa-facebook"></li></a>
				<li class="b-r divider"></li>
				<li>Get in touch</li>
				<li>Faqs</li>
			</div>
		</div>
	</div>
</nav>
<div class="hero">
	<div class="col-md-10 col-md-offset-1 p-t-lg text-center">
		<p class="header">How much does your medicine cost?</p>
		<p class="col-md-10 col-md-offset-1 sub-header p-t-sm">
			Is NHIS paying hospitals enough for life saving medicines? Let’s find out.
		</p>
	</div>
	<div class="col-md-8 col-md-offset-2 text-center m-t-xxl action animated animate-slow pulse infinite">
		<p class="clickable" ng-click="scrollTo('main')">Start</p>
		<p class="fa fa-angle-down"></p>
	</div>
</div>
<div class="min500 gradient" id="main">
	<div class="ghost-line" ng-hide="two"></div>
	<div class="card z-index4" ng-hide="one">
		<form name="priceForm">
			<div class="body">
				<h3 class="text-center">First, tell us how much you pay.</h3>
					<p>I buy 
						<input type="text" ng-model="credentials.name" ng-change="textChanged()" placeholder="" required>
					</p>
					<div class="search-result b-b" ng-if="showResults">
						<li class="" ng-repeat="med in medicines | filter: credentials.name" ng-click="select(med)">{{med.name}}</li>
					</div>
					<p>for  &#8358<input type="number" ng-model="credentials.price" placeholder="3,000" required></p>
					
			</div>
			<div class="footer">
				<button class="btn btn-success" ng-click="step1()" ng-disabled="priceForm.$invalid">
					NEXT
				</button>
			</div>
		</form>	
	</div>
	<div class="card z-index3" ng-hide="two">
		<div class="body-result">
			<h3 class="text-center m-b-sm">Next, confirm dosage form and strength.</h3>
			<div class="clearfix padder-lg text-sm m-t-md m-b-md">
	            <span class="col-md-4 text-bold">Name</span>
	            <span class="col-md-4 text-bold">Dosage Form</span>
	            <span class="col-md-4 text-bold">Strength</span>
	        </div>
	        <div class="result b-b text-sm clickable" ng-click="step2(select)" ng-repeat="select in selected">
                <span class="col-md-4 col-xs-3 text-ellipsis">{{select.name}}</span>
                <span class="col-md-4 col-xs-3 text-ellipsis">{{select.form}}</span>
                <span class="col-md-4 col-xs-3 text-ellipsis">{{select.strength}}</span>
            </div> 
		</div>
	</div>
</div>

<div class="overlay overlay-white text-center" ng-show="personNode">
	<h3 class="m-b-lg">Buying {{credentials.name}} at &#8358{{credentials.price}} is {{judgement}}% higher than the median price.</h3>
	<p>Share with your friends</p>
	<a href=""><i class="fa fa-twitter fa-3x p-r"></i></a>
	<a href=""><i class="fa fa-facebook fa-3x"></i></a>
	<p class="m-t-lg clickable text-bold" ng-click="close()">Go back</p>
</div>


<div class="footer">
	<div class="col-md-8">
		<p class="footer-header">About</p>
		<hr>
		Code for Nigeria is a non-profit civic technology movement. A network of civic-minded volunteers who contribute their talents, skills, expertise, and community knowledge as technological tools to improve public service, bring governments to account, and promote informed (data-driven) decision-making; leveraging open data + media, and backed by a core (full-time) tech team.
	</div>
	<div class="col-md-4 p-t">
		<p class="clickable"><i class="fa fa-facebook-square"></i><a href="http://facebook.com/codefornigeria" target="_blank"> Like us on Facebook</a></p>
		<p class="clickable"><i class="fa fa-twitter-square"></i><a href="http://twitter.com/codefornigeria" target="_blank"> Follow us on Twitter</a></p>
	</div>
	<div class="col-md-12 partners">
		<p class="footer-header">Built by Code for Nigeria, with thought leadership from</p>
		<hr>
		<a href="http://www.icfj.org" target="_blank"><img src="assets/img/icfj.png"></a>
		<a href="http://www.codeforafrica.org" target="_blank"><img src="assets/img/cfafrica.png"></a>
	</div>
	
	<p class="text-center text-sm text-thin"><a href="https://github.com/codefornigeria/medicine-prices-ui" target="_blank">Fork this project on Github</a></p>
</div>