@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Helvetica;
}
body {
  background: #FFF;
}
.none {
  display: none;
}
a {
  color: inherit;
}
.tool-bar {
  height: 100px;
  background: transparent;
  position: relative;
  z-index: 999999;
  top: 0;
  left: 0;
  line-height: 100px;
}
.tool-bar li {
  list-style: none;
  float: right;
  color: grey;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 100px;
  margin-left: 2%;
}
.tool-bar li:hover {
  color: #000;
}
.tool-bar .divider {
  height: 40px;
  width: 1%;
  margin-top: 30px;
}
.search-result {
  width: 80%;
  max-height: 200px;
  overflow: scroll;
  background: #f5f5f5;
  position: absolute;
  left: 10%;
  z-index: 1;
}
.search-result li {
  list-style: none;
  padding: 5%;
  border-bottom: 0.5px solid rgba(197, 197, 197, 0.1);
  font-size: 16px;
  cursor: pointer;
}
.search-result li:hover {
  background: #ebedeb;
}
.hero {
  width: 100%;
  min-height: 600px;
  position: relative;
  text-align: center;
  z-index: 1;
  background: none;
}
.hero .header {
  font-size: 50px;
  font-weight: 900;
  color: #0B5D97;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .hero .header {
    font-size: 24px;
  }
}
.hero .sub-header {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .hero .sub-header {
    font-size: 18px;
  }
}
.gradient {
  padding-top: 150px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
}
.ghost-line:after {
  content: '';
  width: 0;
  height: 50%;
  position: absolute;
  border: 1px dashed #009925;
  margin: 0 auto;
  top: -30px;
  left: 0;
  right: 0;
}
.action {
  color: #009925;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}
.card {
  width: 40%;
  height: 360px;
  background: #ffffff;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.02);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .card {
    width: 80%;
  }
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .card h3 {
    font-size: 18px;
  }
}
.card .body {
  height: 260px;
  width: 100%;
  padding: 50px;
  font-size: 18px;
  background: #f7f7f7;
}
.card .body input,
.card .body select {
  width: 85%;
  padding: 5px;
  margin-top: 30px;
  outline: none;
  background: none;
  border: 0 solid #ddd;
  border-bottom: 1px dashed #ddd;
  border-radius: 3px;
  box-shadow: none;
  font-size: 14px;
}
.card .body select {
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
}
.card .body-result {
  height: 360px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
  font-size: 18px;
  background: #f7f7f7;
  overflow: scroll;
}
.card .body-result h3 {
  width: 70%;
  margin: 0 auto;
}
.card .body-result .pos-fixed {
  width: 38%;
  background: #f7f7f7;
  z-index: 10;
  padding-top: 20px;
}
.card .body-result .result {
  width: 100%;
  padding: 0;
  padding-left: 0;
  height: 60px;
  line-height: 60px;
  background: none;
  border-bottom: 0.5px solid rgba(197, 197, 197, 0.1);
}
.card .body-result .result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.0785);
}
.card .body-result .result:hover {
  background: #ebedeb;
}
.card .footer {
  height: 100px;
  width: 100%;
  background: #ebedeb;
  border-top: 1px solid #e6e8e6;
  text-align: center;
  padding: 0;
  padding-top: 25px;
}
.card .footer button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  padding: 0 0 7px 0;
  border: 0;
  outline: none;
  margin-top: 0;
}
.card.ng-hide-add {
  -webkit-animation: rotateOutUpLeft 0.4s;
  display: block!important;
}
.card.ng-hide-remove {
  -webkit-animation: fadeInLeftBig 0.4s;
}
.search-box {
  height: ;
  padding: 1.5rem;
  outline: none;
  margin-top: 10px;
  font-size: 1.5rem;
  border-radius: 6px;
  border: 0;
}
.card-md {
  background: #FFF;
  border: 1px solid #e8e8e8;
  height: 300px;
  padding-top: 15px;
  cursor: pointer;
}
.card-md:hover {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.15s ease-out;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .card-md {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }
}
.card-md b {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 10px;
}
.card-md h3 {
  text-transform: capitalize;
}
.footer {
  width: 100%;
  height: auto;
  background: #000;
  color: grey;
  padding: 50px;
  padding-left: 10%;
  padding-right: 10%;
}
.footer img {
  height: 50px;
  margin: 10px;
}
.footer hr {
  border: none;
  border-top: 1px solid #E5E5E4;
  opacity: 0.5;
}
.footer div {
  min-height: 200px;
}
.footer div:nth-of-type(2) {
  text-transform: none;
}
.footer .partners {
  min-height: 100px;
}
.footer .footer-header {
  color: #fff;
  font-weight: 400;
}
.footer .fa-twitter-square {
  color: skyblue;
  margin-right: 10px;
}
.footer .fa-facebook-square {
  color: #3B5998;
  margin-right: 10px;
}
.logo {
  height: 60px;
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  float: left;
}
.navigation {
  width: 100%;
  height: 60px;
  background: #fff;
  padding-left: 5%;
  padding-right: 5%;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .navigation {
    padding: 0;
  }
}
.navigation input {
  height: inherit;
  border: 1px solid #f5f5f5;
  border-top: 0;
  border-bottom: 2px solid skyblue;
  padding: 15px;
  padding-left: 20px;
}
.navigation .fa-search {
  position: absolute;
  left: 47%;
  top: 20px;
  z-index: 1;
}
.home-search {
  position: relative;
}
.home-search .fa-search {
  color: grey;
  position: absolute;
  top: 28px;
  right: 8%;
  z-index: 1;
}
.search-num {
  max-height: 68px;
  border-left: 3px solid skyblue;
  position: relative;
  padding: 10px 25px 13px 17px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.search-box-top {
  width: 50%;
  padding: .6rem;
  outline: none;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .search-box-top {
    width: 100%;
  }
}
.overlay {
  height: 100%;
  width: 100%;
  background: rgba(43, 184, 246, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000;
}
.overlay .panel {
  height: 100%;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-top: 60px;
  overflow: scroll;
  padding-bottom: 100px;
}
.overlay .panel h1 {
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.overlay .panel .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #3369E8;
  margin: 0 auto;
  background: url('../img/a1.jpg');
  background-position: center;
  background-repeat: none;
}
.overlay .panel .bio {
  height: auto;
  background: #f5f5f5;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .overlay .panel {
    margin-top: 0;
  }
}
.overlay .panel-sm {
  height: auto%;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-top: 60px;
  overflow: scroll;
  padding-bottom: 100px;
  position: relative;
}
.overlay .panel-sm h1 {
  text-transform: capitalize;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}
.overlay .panel-sm .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #3369E8;
  margin: 0 auto;
  background: url('../img/a1.jpg');
  background-position: center;
  background-repeat: none;
}
.overlay .panel-sm .bio {
  height: auto;
  background: #f5f5f5;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .overlay .panel-sm {
    margin-top: 0;
  }
}
.overlay-dark {
  background: #DBD1B7;
  padding: 20%;
  padding-top: 15%;
  color: #151A1E;
}
.overlay-dark h3 {
  font-size: 48px;
}
.overlay-dark .call2action {
  color: #CE4415;
  font-size: 40px;
  text-transform: uppercase;
}
.overlay-white {
  background: rgba(255, 255, 255, 0.95);
  padding: 20%;
}
#gradient {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(70%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 70%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}
.project-desc {
  max-height: 60px;
  overflow: hidden;
  text-transform: capitalize;
}
.truncate {
  height: 20px;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: lowercase;
}
.not-found {
  color: #000;
}
.not-found h1 {
  padding-bottom: 10px;
}
.not-found img {
  width: 100px;
  height: 100px;
}
.projects-header {
  height: 60px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  line-height: 60px;
  background-image: linear-gradient(rgba(43, 184, 246, 0.8), rgba(43, 184, 246, 0.8)), url("../img/pattern.png");
}
.projects-header h5 {
  line-height: 60px;
  color: #fff;
}
.panel-top:hover {
  background: #f5f5f5;
}
@-webkit-keyframes blink-it {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink-it {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink-it {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-it {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  -webkit-animation: blink-it steps(1) 1s infinite;
  -moz-animation: blink-it steps(1) 1s infinite;
  -ms-animation: blink-it steps(1) 1s infinite;
  -o-animation: blink-it steps(1) 1s infinite;
  animation: blink-it steps(1) 1s infinite;
}
